<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	 version="3.1">
  <display-name>helpdesk</display-name>
  	 <welcome-file-list>
		<welcome-file>home.xhtml</welcome-file>
	</welcome-file-list>
	 <servlet>
	   <servlet-name>Faces Servlet</servlet-name>
	   <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	   <load-on-startup>1</load-on-startup>
	 </servlet>
	 <servlet-mapping>
	   <servlet-name>Faces Servlet</servlet-name>
	   <url-pattern>*.xhtml</url-pattern>
	 	<url-pattern>*.jsf</url-pattern>
	 </servlet-mapping> 
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>	
	<!-- http://stackoverflow.com/questions/12351244/jsf-convertdatetime-renders-the-previous-day -->
	<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
	<!-- Primefaces named theme -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<!-- Primefaces upload controller  -->
	<context-param>   
		<param-name>primefaces.UPLOADER</param-name>   
		<param-value>auto</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>home.jsf</welcome-file>
	</welcome-file-list>
	
	<!-- mime-type mapping for font-awsome -->
	<mime-mapping>
	    <extension>eot</extension>
	    <mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>  
	    <extension>otf</extension>  
	    <mime-type>font/opentype</mime-type>  
	</mime-mapping>      
	<mime-mapping>  
	    <extension>ttf</extension>  
	    <mime-type>application/x-font-ttf</mime-type>  
	</mime-mapping> 
		<mime-mapping>  
	    <extension>woff</extension>  
	    <mime-type>application/x-font-woff</mime-type>  
	</mime-mapping>     
	<mime-mapping>  
	    <extension>woff2</extension>  
	    <mime-type>application/x-font-woff2</mime-type>  
	</mime-mapping>
	
	<!-- Log-in & security details -->
	<login-config>
        <auth-method>FORM</auth-method>
        <realm-name>helpdeskDomain</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml?status=error</form-error-page> 
        </form-login-config>
    </login-config>
    
    <security-constraint>
        <display-name>Authenticated Pages</display-name>
        <web-resource-collection>
            <web-resource-name>Authenticated Area</web-resource-name>
            <description></description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Anonymous</display-name>
        <web-resource-collection>
            <web-resource-name>Anonymous Area</web-resource-name>
            <description/>
            <url-pattern>/javax.faces.resource/*</url-pattern>
            <url-pattern>/resources/lib/bootstrap/*</url-pattern>
            <url-pattern>/resources/lib/fontawesome/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
     <security-role>  
         <role-name>user</role-name>
     </security-role>
     <security-role>  
         <role-name>admin</role-name>
     </security-role> 
</web-app>